* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

}

img {
    display: none;
}

.game_over {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 35%;
    justify-content: center;
    align-items: center;
    background-image: url(photos/game_over.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    display: none;
    gap: 2rem;
}

h1 {
    font-size: 100px;
    font-family: doto;
}
#powerUp{
    position: absolute;
    left: 30%;
    top: 20%;
    font-family: oswald;
    font-size: 30px;
    color: red;
    display: none;
}
p,
button {
    font-size: 20px;
    font-family: oswald;
}

button {
    border-radius: 0.5rem;
    padding: 0.5rem;
    background: linear-gradient(white, grey);
    color: black;
}

@font-face {
    font-family: doto;
    src: url('fonts/Doto-VariableFont_ROND\,wght.ttf');
}

@font-face {
    font-family: oswald;
    src: url('fonts/Oswald-VariableFont_wght.ttf');
}
#score{
    color: red;
}