* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: bisque;
}

.intro-screen {
    position: fixed;
    background-color: rgb(85, 56, 17);
    color: white;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.intro-screen button {
    padding: 12px 24px;
    cursor: pointer;
    margin-top: 20px;
}

canvas{
    height: 100% !important;
    width: 100% !important;
}

img {
    display: none;
}

.game_over {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 35%;
    justify-content: center;
    align-items: center;
    background-image: url(photos/game_over.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: clamp(0.875rem, 0.071rem + 2.143vh, 2rem);
    display: none;
    gap: clamp(0.875rem, 0.071rem + 2.143vh, 2rem);
}

h1 {
    font-size: clamp(2.813rem, 0.357rem + 6.548vH, 6.25rem);
    font-family: doto;
}
#powerUp{
    position: absolute;
    left: 30%;
    top: 20%;
    font-family: oswald;
    font-size: 30px;
    color: red;
    display: none;
}
p,
button {
    font-size: clamp(0.875rem, 0.607rem + 0.714vh, 1.25rem);
    font-family: oswald;
}

button {
    border-radius: 0.5rem;
    padding: 0.5rem;
    background: linear-gradient(white, grey);
    color: black;
}

@font-face {
    font-family: doto;
    src: url('fonts/Doto-VariableFont_ROND\,wght.ttf');
}

@font-face {
    font-family: oswald;
    src: url('fonts/Oswald-VariableFont_wght.ttf');
}
#score{
    color: red;
}